@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700italic,700,800');

$font-family-poppins-first: 'Poppins', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$colour-primary: #e40000;
$colour-light: #dadbdf;
$colour-white: #fff;

// Easy media query mixins for multiple device sizes
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-little-screens {
  @media (max-width: 955px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
